<h1 style="text-align:center">{{name.toUpperCase()}}</h1>
    <img src={{flag}} style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;">
    <div style="display: flex; text-align: center; margin: auto; justify-content: center;"> 
        <h2 style="margin-right:20px;">Population: {{population}}</h2>
        <h2 style="margin-right:20px;">Capital: {{capital}}</h2>
        <h2 style="margin-right:20px;">Weather: {{weather}}</h2>
    </div>
<a routerLink="" style="display: flex; text-align: center; margin: auto; justify-content: center;">
        <button>Go Back</button>
</a>